:root {
    --body-background-color: #f8f6f5; /* Light background color */
    --body-text-color: #343540; /* Dark grey text color */
    --card-background-color: #ffffff; /* Pure white card background */
    --nav-background-color: #de5a35; /* Orange navigation background */
    --nav-border-bottom-color: #dd5a34; /* Slightly darker orange border */
}  